<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

	<NAW.Settings.Walls>Walls</NAW.Settings.Walls>
	<NAW.Settings.EnableNaname>Enable NANAME Wall</NAW.Settings.EnableNaname>
	<NAW.Settings.DefaultAll>Reset all to default</NAW.Settings.DefaultAll>
	<NAW.Settings.Values>Values</NAW.Settings.Values>
	<NAW.Settings.Items>Items</NAW.Settings.Items>
	<NAW.Settings.Label>Label</NAW.Settings.Label>
	<NAW.Settings.Type>Type</NAW.Settings.Type>
	<NAW.Settings.Related>Related Item</NAW.Settings.Related>
	<NAW.Settings.Direction>Direction</NAW.Settings.Direction>
	
	<NAW.Settings.Options>Options</NAW.Settings.Options>
	<NAW.Settings.GroupNanameWalls>Group NANAME walls into drop-down menus. (Reboot required)</NAW.Settings.GroupNanameWalls>
	<NAW.Settings.LinkWithDifferentWall>Link with different wall types. (Vanilla-like)</NAW.Settings.LinkWithDifferentWall>
	
</LanguageData>